/* common shared style */

body{
    font-family: 'lato', sans-serif;
    font-family: 'open sans' , sans-serif;
}

.info-title{
    font-weight: bold;

}
/* nav releated styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

.nav-title_{
    color: #181818;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.span{
    color: #FD6E0A;
    

}

ul{
    display: flex;
    color: #474747;
    align-items: center;

}
nav a {
    text-decoration: none;
    color: #474747;
}
nav li {
    list-style: none;
    margin-right: 50px;
    
}

.btn-primary{
    border-radius: 5px;
    border-style:none;
    border: 0;
    background:#FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    cursor: pointer;

}

/* header related styles */

.header{
background-color: #FFF8F3;
background-image: url(../images/headerbg.png);
background-repeat: no-repeat;
background-position: bottom;
background-position: bottom right;

}

.banner{
    padding: 30px 30px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.banner-content{
    max-width: 500px;
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}

.banner-title{
    font-size:85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-descripation{

margin-top: 25px;
}

.profile-pic{
    width: 500px;
}

.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color:#FFF8F3;
    font-size: 20px;
}

/* main section style */

main{
    max-width: 1100px;
    margin: 0 auto;

}
main section{
    margin-top: 130px;
}

/* about section style */

.about{
    padding: 130px;
    border-radius: 30px;
    background: #FFF8F3;
    font-size: 35px;
    margin: 130px 50px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.section-description{
    color: #181818;
    text-align: center;
    font-size: 18px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    font-size: 18px; 
}

.about-info{
    text-align: center;
}


/* skill related styles */

#what-i-do-description{
    padding: 30px 150px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding:30px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}


.skills-description {
    color: #757575;
}

/* Resume Sections Styles */

.resume-coloum-title {
    color: #474747;
    font-size: 30px;
    font-weight: 600;


}

.resume-container {
    display: flex;
    gap: 50px;
}
.resume-item-title {
    color: #757575;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;


}

.resume-item-insitute {
    margin-bottom: 20px;
    margin-top: 0;
}
.resume-item-insitute, .resume-item-description{
    color:#757575
}

.resume-container hr {
    margin:30px 5px;

}

.download-cv {
    text-align: center;
    margin-top:50px;

}


/* Footer Styles */

footer{
    display: flex;
    background-color: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
    gap: 100px;

}


.footer-column{
    width: 50%;
}

.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    font-size: 16px;
    color: #757575;
    border-radius: 5px;
    border: 0;
    background-color:#FFF;
    width: 100%;
}
.social-links a{
    margin-right: 25px;
}


.copyright-container{
    background-color: #F8FDCF;
    width: 100%;
    height: 50px;
    display:flex;
    
}

.copyright-info{
    display:flex;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;


}

